<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%= require('html-loader!./templates/note.html').default %>

    <h1>Notes</h1>

    <div id="notesContainer"></div>

    <div class="d-flex" role="toolbar">
      <span id="notesDisplayCount" style="flex: auto; text-align: right"></span>
      <input
        type="search"
        incremental
        aria-label="Search notes"
        name="q"
        placeholder="🔍"
        id="notesInputSearch">
    </div>

    <form class="mb-3" id="addNoteForm">
      <fieldset>
        <legend>Add note</legend>
        <label class="d-block">Note</label>
        <input class="d-block w-100 mb-3" type="text" name="note" />
        <label class="d-block">Detail</label>
        <textarea class="d-block w-100 mb-3" name="detail"></textarea>
        <input type="submit" />
      </fieldset>
    </form>

  </body>
</html>
