<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%= require('html-loader!./note_template.html').default %>

    <div role="toolbar">
      <button type="button" aria-label="Add note" id="notesButtonAdd">
        <span aria-hidden="true" style="pointer-events: none">&plus;</span>
        <span class="screen-reader">Add note</span>
      </button>
      <input type="search" incremental aria-label="Search notes" name="q" placeholder="🔍" id="notesInputSearch">
    </div>

    <h1>Notes <small>(<span id="notesDisplayCount"></span>)</small></h1>

    <form style="margin-bottom: 1em" onsubmit="return false">
      <fieldset>
        <legend>Add note</legend>
        <label style="display: block">Note</label>
        <input style="display: block; margin-bottom: 1em" type="text" name="note" />
        <label style="display: block">Detail</label>
        <textarea style="display: block; margin-bottom: 1em" name="detail"></textarea>
        <input type="submit" />
      </fieldset>
    </form>

    <div id="notesContainer"></div>

  </body>
</html>
